.calendar {
  flex: 1;
  @media(min-width: 767px) {
    align-items: center;
    min-height: 100vh;
  }

  @media(max-width: 767px) {
    align-items: stretch;
  }
  &-body {
    overflow: auto;
    @media(min-width: 767px) {
      min-height: 95vh;
    }
    flex:95% 0;
  }

  &-hour {
    flex: 1;
  }
}